*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}

/* header section css started */
input{
    padding: 10px 40px;
    margin-top: 2px;
    border-radius: 10px;
    border: 1px solid silver;
    width: 360px;
}
.header{
    padding: 10px 0px;
    border: none;
}
.search-padding{
    padding-left: 25%;
}
.header-img{
    width: 160px;
    cursor: pointer;
}
/* header section css closed */

/* main h2 heading css started */
.verticalLine{
    border-left: thick solid #ffbd49;
}
.verticalLine-h{
    font-size: 25px;
    padding-left: 5px;
    font-weight: 700;
}
/* main h2 heading css Closed */

/* Catagary section css Started */
.btn1 {
    height: 42px;
    width: 180px;
    border: none;
    border-radius: 22px;
    background-color: #633a9c;
    font-size: 15px;
    font-weight: 500
}
.text {
    font-size: 40px;
    font-weight: bold
}
.card1 {
    background-color: #d4d3d8;
    height: 130px;
    overflow: hidden;
    border: none;
    border-radius: 15px
}
.imagename {
    font-size: 14px;
    font-weight: bold
}
/* Catagary section css closed */

/* blog section css started */
.card-title a{
    color: black;
    font-weight: 600;
}
.card-text p{
    font-size: 15px;
    letter-spacing: .1px;
}
.card-title h2{
    font-size: 19px;
    font-weight: 600;
}
.date-blog a{   
    font-size: 13px;
    font-weight: 600;
    line-height: 2.08;
    color: #5aa8bf;
}
.date-blog time{
    font-size: 13px;
    color: #706e7b;
}
/* blog section css closed */

/* Footer section css started */
footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box img{
    width: 160px;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.card-area img{
	width: 250px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #0dcaf0;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
/* Footer section css closed */

/* bestbook page css started */
.blog-banner{
    background: linear-gradient(90deg, #1e4d83 0, #5eb078 100%);
    height: 250px;
}
.main-blog-banner h2{
    color: white;
    font-family: 'Manrope'; 
    font-size: 70px;
    font-weight: 600;
}
.blog-banner-sub-h {
    color: white;
    font-size: 17px;
    font-weight: 600;
}
/* bestbook page css started */